@font-face {
  font-family: 'Alpha Lyrae';
  src: url('../fonts/AlphaLyrae.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: white;
    color: black;
    font-family: 'Alpha Lyrae', monospace;
    margin: 2rem;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  pre, code, .terminal-content {
    
    margin: 0;
    font-size: 1rem;
    text-align: left;
    line-height: 1.6;
    font-family: 'Alpha Lyrae', monospace !important;
    content: center;
    max-width: 100%;


  }
  
  .ascii-gif img {
    width: 100%;
    max-width: 300px;
    margin-top: 2rem;
  }
  
  .ascii-container {
    display: inline-block;
    position: relative;
    font-family: 'Alpha Lyrae', monospace;
    
  }
  
  .ascii-top,
  .ascii-bottom {
    text-align: left;
    margin: 0;
  }
  
  .ascii-middle {
    display: flex;
    align-items: stretch;
  }
  
  
  .terminal-content {
    padding: 0;
    border: none;
  }

  .ascii-guy {
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    margin: 1rem auto;
    white-space: pre;
  }
  
  .email-me {
    text-decoration: underline;
    cursor: pointer;
  }